.footer {
	position: relative;
	background-color: #fff;
	overflow: hidden;
	background-size: cover;
	background: rgb(0, 0, 56);
	z-index: 22;
	padding: 50px 0;

	.footer_content {
		z-index: 22;
		padding-top: 100px;
		width: 70%;
		display: flex;
		align-items: center;

		@media screen  and (max-width : 980px) {
			width: 97%;
		}

		@media screen and (max-width : 600px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			justify-content: flex-start;
			}
	}

	.footer_wrapper {
		display: flex;
		gap: 15px;
		position: relative;
		top: 50px;
		.footerItem {
			padding: 10px;
			width: 100%;
			h3 {
				font-family: "Engravers' Gothic Regular";
				color: #fff;
				font-size: 1.4rem;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 1px;
			}


			&:nth-child(2) {
				border-left: 1px solid #d3c495;
				padding-right: 30px;
				padding-left: 30px;
				text-align: left;
				border-right: 1px solid rgb(211, 196, 149);
				a{
					display: flex;
					align-items: center;
					gap: 10px;
					justify-content: flex-start;
				}
			}


			input {
				font-family: "Engravers' Gothic Regular";
			}
			
		}

		@media (max-width: 990px) {
			flex-wrap: wrap;
			.footerItem {
				width: 100%;

				&:nth-child(2) {
					border-left: 0px;
					border-right: 0px;
					border-top: 1px solid #d3c495;
					border-bottom: 1px solid #d3c495;
				}
			}
		}
	}
}
