.imageCardContainer {
  width: 450px;
  overflow: hidden;
  height: 300px;
  position: relative;
  top: 30px;
  cursor: pointer;
  transition: 0.2s linear;
  border-radius: 10px;
}

/*
@ All hover and after effects in image cards
*/

.imageCardContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.imageCardContainer:hover img {
  transform: scale(1.1);
  filter: blur(10px);
}

.imageCardContainer:hover {
  transform: rotate(-1deg);
}

.imageCardContainer::after {
  width: 100%;
  height: 100%;
  content: attr(data-title);
  background-color: rgba(0, 0, 0, 0.526);
  position: absolute;
  z-index: 100;
  top: 0;
  text-align: center;
  font-size: 1.2rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.2s linear;
}

.imageCardContainer:hover::after {
  opacity: 1;
  transform: scale(0.9);
}

/*
@ Responsive
*/

@media screen and (max-width: 1015px) {
  .imageCardContainer {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .imageCardContainer {
    width: 100%;
    height: 300px;
  }
}
