.section_title {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 50px;
	color: #2b385d;
    font-weight: 500;
	margin-bottom: 74px;
}

.section_title_serif {
	color: #2a385d;
	font-family: Inria Serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
